# --- Data Science Core ---
numpy==1.26.4
pandas==2.2.3
scipy

# --- Machine Learning ---
scikit-learn==1.5.2
tensorflow==2.10.0
keras-tuner==1.4.7

# --- MLOps & Tracking ---
mlflow==2.8.1 #Se especifica esta version netamente por conflictos con otros paquetes\

# --- Core Dependencies (Fijadas por compatibilidad) ---
protobuf==3.19.6
setuptools<70.0.0

# --- Visualization & Physics ---
matplotlib==3.9.2
seaborn==0.13.2
panama

# --- Utils & Notebook ---
gdown
tqdm
ipywidgets
jupyter
notebook
papermill